<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Profile Person</h1>
<br><br>
<a href="/personList">Person List</a>
<br><br>
<a href="/renamePer">Update Person</a>
<br><br>
<a href="/addRolePers">Add Role Person</a>
<br><br>
<table border="3">
    <tr>
        <td>Id</td>
        <td th:text="${person.id}"></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td th:text="${person.firstName}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td th:text="${person.lastName}"></td>
    </tr>
    <tr>
        <td>Login</td>
        <td th:text="${person.username}"></td>
    </tr>
    <!--<tr>
        <td>Password</td>
        <td th:text="${person.password}"></td>
    </tr>-->
    <tr>
        <td>Delete</td>
        <td><a th:href="@{/delete/(id=${person.id})}">Delete</a></td>
    </tr>
</table>
<br>
<h2>Role Person</h2>
<br>
<td>
    <table class="table table-bordered">
        <tr th:each="role : ${roles}">
            <td>
                <input type="checkbox"
                       th:field="${person.roles}"
                       th:checked="${person.roles.conteins(role)}"
                       th:value="${role.id}"/>
                <label th:text="${role}"></label>
            </td>
    </table>
</td>
</body>
</html>
