<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Role Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Role Person</h1>
<a href="addRole">Add Role</a>
<a href="personList">Person List</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Role</th>
            <th>Delete</th>
        </tr>
        <tr th:each ="role : ${roles}">
            <td th:utext="${role}">...</td>
            <td><a th:href="@{/delete/(id=${role.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>